@import url('https://fonts.googleapis.com/css?family=Signika:300');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Signika', sans-serif;
  color: #303841;
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.cleaner {
  clear: both;
}

/* SMALLNAV */
#smallNav {
  width: 100%;
  background-color: #313941;
  color: #fff;
  min-height: 50px;
}

.center {
  width: 1024px;
  margin: 0px auto;
}

#align {
  padding-top: 12px;
}

#search form {
  float: left;
}

#search input {
  background-color: #313941;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 2px;
  padding: 4px;
}

#login {
  float: right;
  text-align: right;
}

#login ul li {
  display: inline-block;
  margin-right: 20px;
}

#login ul li:last-child {
  margin-right: 0px;
  margin-left: 70px;
}


/* MAINNAV */
#mainNav {
  width: 100%;
  text-align: center;
}

#logo {
  width: 300px;
  margin: 0px auto;
  padding-top: 10px;
}

#mainNav ul li {
  display: inline-block;
  margin: 15px;
}

#mainNav ul li a {
  font-size: 20px;
}

#mainNav ul li a:hover {
  color: #f7d02e;
}


/* HERO */
.heroImg {
  width: 100%;
  height: 350px;
  text-align: center;
  padding-top: 20px;
  background-image: url("../img/headerIsecen-overlay-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fefefe;
  margin-bottom: 50px;
  position: relative;
  animation: levo 1.5s;
}

.heroImg h1 {
  text-transform: uppercase;
  margin-bottom: 220px;
}

.button {
  width: 200px;
  margin: 0px auto;
}

.button a {
  width: 200px;
  padding: 10px 20px;
  border: 1px solid #fefefe;
  font-size: 16px;
}

.heroImg .button a {
  font-size: 20px;
}

.heroImg a:hover {
  background-color: #f7d02e;
}

/* SERVICES */
#services {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.blok {
  width: 33%;
  float: left;
}

.blok h2 {
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
}

.blok p {
  margin-top: 20px;
  text-align: center;
}

.serviceImg {
  text-align: center;
}

/* INFO */
#info {
  width: 100%;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../img/howtoIsecen-overlay-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  color: #fff;
}

#infoCaption {
  position: absolute;
  top: 40%;
  left: 20%;
}

#infoCaption h2 {
  text-transform: uppercase;
  font-weight: 400;
}

#infoPasus {
  width: 400px;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 18px;
}


/* SHOP */
.shop {
  width: 100%;
  min-height: 500px;
  z-index: 2;
  background-color: #f0f0f0;
}

.shop section {
  display: flex;
}

.center h2 {
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.shop .center h2 {
  padding-top: 50px;
}


.shop article {
  width: 238px;
  border: 4px solid #ffffff;
  margin: 15px;
  padding-top: 25px;
}

.shop article .thumbnail {
    width: 238px;
    position: relative;
}

.shop article .thumbnail .price {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #f6c90e;
    font-family: 'titillium_webbold', sans-serif;
    font-size: 13px;
}

.shop article .thumbnail .price sup {
    font-size: 8px;
}

.desc {
  padding: 10px 5px;
  background: #ffffff;
}

.desc-heading {
    color: #303841;
    font-size: 16px;
}

.shop section:last-child {
  margin-right: 0px;
}

.center .button {
  margin-top: 30px;
  padding-bottom: 30px;
}

.center .button a {
  background-color: #f7d02e;
  margin-left: 65px;
}

/* SUCCESS */
#success {
  background-image: url('../img/uspehIsecen-overlay-2.jpg');
  width: 100%;
  min-height: 300px;
  background-size: cover;
}

#successTitle {
  text-align: center;
  color: #fff;
  padding-top: 30px;
}

#successTitle h2 {
  text-transform: uppercase;
  font-weight: normal;
}

.stats {
  margin-top: 100px;
  width: 30%;
  display: inline-block;
  margin-right: 25px;
  text-align: center;
  color: #fff;
}

.stats h4 {
  color: #f6c90e;
  font-size: 26px;
}

.stats p {
  font-size: 20px;
}

/* FOOTER */
#footer {
  width: 100%;
  min-height: 200px;
  background-color: #313941;
  color: #8a8f93;
  padding-top: 20px;
  padding-bottom: 10px;
}
.column {
  text-align: left;
  padding-top: 20px;
  margin-bottom: 20px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.map {
  width: 500px;
  height: 250px;
}

.column h2 {
  color: #f6c90e;
  text-align: left;
  padding: 0px;

}

article.column:nth-child(2) {
  width: 500px;
}

#copy {
  text-align: center;
  margin-top: 10px;
}

/* PRODAVNICA STRANICA */

#shopMain {
  background-color: #f0f0f0;
}

#mainContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

#mainContainer aside input {
  margin: 7px;
}

/* ASIDE */
.center aside {
  width: 200px;
  padding-top: 13px;
}

.katNaslov {
  text-transform: uppercase;
  font-weight: 600;
}

aside p.katNaslov:last-child {
  margin-top: 20px;
}

/* PRODUCTS */
#productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f0f0f0;
}



/* KONTAKT STRANICA */

#kontaktImg {
  background-image: url('../img/kontaktOverlay.png');
  margin-bottom: 0px;
}

.kontaktForma {
  background-color: #f0f0f0;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.centarForma {
  width: 400px;
  margin: 0px auto;
  font-size: 24px;
}

.centarForma input, #prijavaContent input, #registracijaContent input {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  font-size: 18px;  
  padding: 5px;
  margin-bottom: 12px;
}

.centarForma textarea {
  width: 100%;
  resize: none;
  padding: 5px;
  margin-bottom: 10px;
}

.centarForma input[type="submit"], .centarForma input[type="reset"], #loginCenter input[type="submit"], #loginCenter input[type="reset"] {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  height: 40px;
  width: 50%;
}


/* O AUTORU */

#myInfo {
  width: 100%;
  background-color: #f0f0f0;
  padding-top: 30px;
}

#myInfo .center h2 {
  color: #f6c90e;
}

#myInfo .column img {
  border-radius: 3px;
  box-shadow: 7px 7px 5px;
}

#myInfo .column p {
  font-size: 18px;
}


/* NALOG */
#log {
  width: 100%;
  background-color: #f0f0f0;
  padding-top: 40px;
}

#logCenter {
  width: 300px;
  margin: 0px auto;
  text-align: center;
  font-size: 18px;
  padding-bottom: 30px;
  }

 #logCenter input[type="radio"] {
  display: none;
}

#prijava ~ label {
  text-decoration: none;
  background-color: #c0c0c0;
  padding: 10px;
  border-radius: 3px;
}

#logCenter label:hover{
  cursor: pointer;
}

#content{
  width: 100%;
  margin-top: 50px;
}

#prijavaContent input[type="submit"], #registracijaContent input[type="submit"],
#registracijaContent input[type="reset"] {
  width: 60%;
  margin: 10px;
}

#prijavaContent, #registracijaContent {
  display: none;
}

#prijava:checked~#content div:nth-child(1),
#registracija:checked~#content div:nth-child(2){
  display: block;
}

/* ANIMACIJA */
@keyframes levo {
  0% {left: -1200px;}
  90% {left: 0px;}
}